name: Welcome

on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/first-interaction@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: |
            Thanks for opening your first issue! We appreciate you taking the time to report this.

            A maintainer will review it soon. In the meantime, please make sure you've included all the relevant details (OS, plugin version, steps to reproduce).
          pr-message: |
            Thanks for your first pull request! We're excited to review your contribution.

            Please make sure:
            - CI checks pass
            - Your PR title follows [conventional commits](https://www.conventionalcommits.org/) format
            - You've added tests for new functionality
